<table *ngIf="paises.length>0" class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <td>Bandera</td>
      <th>Nombre</th>
      <th>Capital</th>
      <th>Población</th>
      <th>Región</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let pais of paises; let i=index">
      <td>{{i+1}}</td>
      <td><img class="small-flag" [src]="pais.flags.png" alt=""></td>
      <td>{{pais.name.common}}</td>
      <td>{{pais.capital}}</td>
      <td>{{pais.population | number}}</td>
      <td>{{pais.region}}</td>
      <td><a [routerLink]="['/pais', pais.cca2]" href="">ver</a></td>

    </tr>
  </tbody>
</table>
