<h3>Buscar por región <small>{{regionActiva | titlecase}}</small></h3>
<hr>

<h5>Seleccione una región</h5>
<div class="row">
  <div class="col">
    <!--[class.btn-primary]="region===regionActiva"-->
    <!--[ngClass]="{'btn-primary': regionActiva === region,'btn-outline-primary': regionActiva !== region }"-->
    <button class="btn btn-outline-primary" [class]="getClaseCSS(region)" (click)="activarRegion(region)"
      *ngFor="let region of regiones">
      {{region|titlecase}}
    </button>
  </div>
</div>

<div *ngIf="hayError" class="alert alert-danger">No se encontraron coincidencias para el término
  <span class="fw-bold">{{regionActiva}}</span>.
</div>

<div *ngIf="!hayError" class="row animate__fadeInBottomLeft">
  <div class="col">
    <app-pais-tabla [paises]="paises"></app-pais-tabla>
  </div>
</div>
